/* General */
* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;;
    text-decoration: none;
}

:root {
    --light-mode-background: #F1FAEE;
    --dark-mode-background: #1D3557;
    --border-color: #E63946;
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --other-use: #A8DADC;
}

body {
    width: 100%;
    min-height: 100vh;
    height: fit-content;

    background-color: var(--light-mode-background);
}

h1 {
    color: var(--primary-color);
}

/* Header and Navbar*/
.navbar {
    display: grid;
    place-items: center;
    height: fit-content;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;

    margin: 20px;
}

.navbar-list-container {
    display: flex;
    align-items: center;
}

.navbar-list-container a {
    margin: 0 20px;

    color: var(--secondary-color);
}

.mode-switch {
    display: flex;
    align-items: center;
    height: 40px;
    width: 80px;

    border: 2px solid var(--dark-mode-background);

    border-radius: 20px;
}

.actual-mode {
    width: 30px;
    height: 30px;

    margin: 0 5px;

    background-color: var(--dark-mode-background);
    border-radius: 15px;
}

.actual-mode:hover {
    cursor: pointer;
}

.mobile-button-container {
    border: none;
}

.mobile-button-container:hover {
    cursor: pointer;
}

.mobile-bars {
    width: 20px;
}

/* Search section*/
.search-form {
    display: flex;
    align-items: center;

    width: 300px;
    height: 60px;

    padding: 5px;

    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 35px;

    overflow: hidden;
}

.search-button {
    padding: 10px;

    border: none;
    border-radius: 50%;
}

.search-button:hover {
    cursor: pointer;
}

.search-button img{
    width: 20px;
}

.search-input {
    height: 40px;
    width: 200px;
    border: none;
    
}

.search-input:active {
    border: none;
}

/* Footer*/
footer {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;

    background-color: var(--other-use);
}

/* Clases especiales*/
.inactive {
    display: none;
  }