/* General */
* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;;
    text-decoration: none;
    outline: none;
}

:root {
    --light-mode-background: #F1FAEE;
    --dark-mode-background: #1D3557;
    --border-color: #E63946;
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --other-use: #a8dadc86;
}

body {
    width: 100%;
    min-height: 100vh;
    height: fit-content;

    background-color: var(--light-mode-background);
}

h2 {
    font-size: 28px;
}

/* Header and Navbar*/
.navbar {
    display: grid;
    place-items: center;
    height: fit-content;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;

    margin: 20px;
}

.navbar-title {
    color: var(--border-color);
    font-size: 32px;
}

.navbar-list-container {
    display: flex;
    align-items: center;
}

.navbar-list-container a {
    margin: 0 20px;

    color: var(--secondary-color);
}

.mode-switch {
    display: flex;
    align-items: center;
    height: 40px;
    width: 80px;

    border: 2px solid var(--dark-mode-background);

    border-radius: 20px;
}

.actual-mode {
    width: 30px;
    height: 30px;

    margin: 0 5px;

    background-color: var(--dark-mode-background);
    border-radius: 15px;
}

.actual-mode:hover {
    cursor: pointer;
}

.mobile-button-container {
    border: none;
}

.mobile-button-container:hover {
    cursor: pointer;
}

.mobile-bars {
    width: 20px;
}

/* Search section*/

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
}

.subtitle-search-section {
    color: var(--primary-color);
}

.search-form {
    display: flex;
    align-items: center;

    width: 600px;
    height: 60px;

    margin: 20px 0;

    background-color: white;
    border: 3px solid var(--primary-color);
    border-radius: 35px;

    overflow: hidden;
}

.search-button {
    width: 50px;
    height: 50px;

    margin: 0 3px;

    background-color: var(--other-use);
    border: none;
    border-radius: 25px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button img{
    width: 40%;
}

.search-input {
    height: 40px;
    width: 500px;
    
    font-size: 20px;

    border: none;
}

.search-input:active {
    border: none;
}

/* Daily and Weekly Trending Section*/

.daily-trends-section, .weekly-trends-section {
    width: 900px;
    height: fit-content;

    margin: auto;
}

.subtitle-daily-section, .subtitle-weekly-section {
    color: var(--primary-color);
}

.daily-movies-container, .weekly-movies-container {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);

    width: 100%;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-img {
    width: 150px;

    border-radius: 10px;
}

.movie-info {
    justify-content: space-between;
    margin: 10px auto 20px;
}

.movie-rating {
    display: flex;
    align-items: center;

    font-weight: bold;

    margin: 10px 0 5px;
}
.star-icon {
    width: 20px;
    margin-right: 5px;
}

.movie-title {
    width: 150px;

    font-size: 18px;
}

/* Category section*/
.categories-section {
    width: 700px;
    height: fit-content;

    margin: auto;
}
.subtitle-category-section {
    text-align: center;
}
.categories-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,150px);
    place-items: center;
    row-gap: 10px;
}

.categorie {
    display: flex;
    align-items: center;

    border: none;
}

.categorie:hover {
    cursor: pointer;
}

.categorie-color {
    width: 25px;
    height: 15px;

    background-color: red;
    border-radius: 10px;
}

.categorie-name {
    font-weight: bold;

    margin-left: 8px;
}

/* Footer*/
footer {
    display: grid;
    place-items: center;
    

    width: 100%;
    height: 50px;

    background-color: var(--other-use);
}

/* Clases especiales*/
.inactive {
    display: none;
  }

.separator30 {
    height: 30px;
  }
.separator40 {
    height: 40px;
  }
.separator50 {
    height: 50px;
  }

.breaker-line {
    display: inline-block;

    height: 2px;
    width: 100%;
    
    margin: 20px 0;

    background: linear-gradient(90deg,var(--border-color), transparent);

    border-radius: 2px;
  }

  .breaker-line-2 {
    display: inline-block;

    height: 2px;
    width: 100%;
    
    margin: 20px 0;

    background: linear-gradient(90deg,transparent, var(--border-color), transparent);

    border-radius: 2px;
  }


  /* Colores de categorias*/
  #id28 {
    background-color: rgb(255, 45, 45);
  }

  #id12 {
    background-color: rgb(255, 177, 32);
  }

  #id16 {
    background-color: rgb(27, 228, 255);
  }

  #id35 {
    background-color: rgb(252, 255, 57);
  }

  #id80 {
    background-color: rgb(122, 0, 0);
  }

  #id99 {
    background-color: rgb(31, 102, 255);
  }

  #id18 {
    background-color: rgb(203, 32, 255);
  }

  #id10751 {
    background-color: rgb(255, 120, 237);
  }
  #id14 {
    background-color: rgb(255, 228, 206);
  }

  #id36 {
    background-color: rgb(187, 255, 60);
  }
  
  #id27 {
    background-color: rgb(43, 43, 43);
  }

  #id10402 {
    background-color: rgb(68, 0, 179);
  }

  #id9648 {
    background-color: rgb(239, 255, 167);
  }

  #id10749 {
    background-color: rgb(255, 0, 119);
  }

  #id878 {
    background-color: rgb(135, 247, 255);
  }

  #id10770 {
    background-color: rgb(255, 0, 0);
  }

  #id53 {
    background-color: rgb(194, 170, 127);
  }

  #id10752 {
    background-color: rgb(255, 251, 0);
  }

  #id37 {
    background-color: rgb(55, 0, 255);
  }