@media (max-width: 1000px) {
    /* Movies Section*/
    .main-movies-section {
        width: 600px;
    }
    .main-movies-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 850px) {
    /* Header and navbar */
    .mobile-button-container {
        display: none;
    }
    .mobile-navbar {
        display: none;
    }
}
@media (max-width: 850px) {
    h2 {
        font-size: 24px;
    }
    /* Header and navbar */
    .navbar-title {
        color: var(--border-color);
        font-size: 26px;
    }
    .navbar-list-container {
        display: none;
    }
    .mode-switch {
        height: 30px;
        width: 60px;
        margin-left: auto;
        margin-right: 20px;
    }
    .actual-mode {
        width: 20px;
        height: 20px;
    }

    .navbar-title, .mode-switch-container {
        width: fit-content;
    }
    .mode-switch-container {
        margin-right: 0;
        margin-left: auto;
    }
    /* Search section */
    .search-form {
        width: 80%;
    }

    .search-input {
        width: 75%;
    }

    /* Home Section*/
    .home-container {
        flex-direction: column;
    }
    .home-main-img {
        width: 180px;
    }
    .home-text-container {
        width: 100%;
    }
    .home-main-text {
        text-align: justify;
    }
    .home-text-item {
        width: 100%;
    }

    /* Category section*/
    .choosen-movie-container {
        max-height: 80vh;
    }
    .categories-section {
        width: 500px;

    /* Seccion pelicula elejida*/
    }
    .close-button {
        top: 15px;
        right: 15px;

        width: 40px;

        padding: 10px;

        border-radius: 20px;
    }
}

@media (max-width: 700px) {
    /* Daily Trending Section*/
    .main-movies-section {
        width: 90%;
    }
    .main-movies-container  {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Seccion pelicula elejida*/
    .choosen-movie-container {
        width: 90%;
    }
    .choosen-movie-title {
        width: 75%;
    }
    
}

@media (max-width: 550px) {
    /* Category section*/
    .categories-section {
        width: 80%;
    }

    /* Seccion pelicula elejida*/
    .choosen-movie-genres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 10px;
      }
}

@media (max-width: 350px) {
    /* Daily Trending Section*/

    .main-movies-container {
        grid-template-columns: 1fr;
    }
}