@media (max-width: 1000px) {
    /* Daily Trending Section*/
    .daily-trends-section, .weekly-trends-section {
        width: 600px;
    }
    .daily-movies-container, .weekly-movies-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 850px) {
    /* Header and navbar */
    .mobile-button-container {
        display: none;
    }
}
@media (max-width: 850px) {
    h2 {
        font-size: 24px;
    }
    /* Header and navbar */
    .navbar-title {
        color: var(--border-color);
        font-size: 26px;
    }
    .navbar-list-container {
        display: none;
    }
    .mode-switch {
        height: 30px;
        width: 60px;
        margin-left: auto;
        margin-right: 20px;
    }
    .actual-mode {
        width: 20px;
        height: 20px;
    }
    /* Search section */
    .search-form {
        width: 80%;
    }

    .search-input {
        width: 75%;
    }
    /* Category section*/
    .categories-section {
    width: 500px;
}
}

@media (max-width: 700px) {
    /* Daily Trending Section*/
    .daily-trends-section, .weekly-trends-section {
        width: 90%;
    }
    .daily-movies-container, .weekly-movies-container  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    /* Category section*/
    .categories-section {
        width: 80%;
    }
}

@media (max-width: 350px) {
    /* Daily Trending Section*/

    .daily-movies-container, .weekly-movies-container {
        grid-template-columns: 1fr;
    }
}